.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header 
        .main-header__left-box__current-group
        .left-header__title 
          = @group.name
            
        %ul.left-header__members
          Member：
          %li.member
            - @group.users.each do |user|
              %i
                = user.name
      .right-header
        .right-header__button
          =link_to edit_group_path(@group),class: "edit" do
            Edit
    .messages{data:{group:{id: @group.id}}}
      = render @messages

    
    
    .form
      
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
          
          = f.submit "Send", class: 'form__submit', id: 'new_message'
          